// @use '../../node_modules/tom-select/src/scss/tom-select';
@use '../../node_modules/tiny-slider/src/tiny-slider';

@use './styles/core/global';
@use './styles/core/type';
@use './styles/layout/header';
@use './styles/blocks/blocks';
@use './styles/layout/footer';

* {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// body {}

// .wp-site-blocks {}

.wp-site-blocks > .wp-block-post-content > *:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
	max-width: var(--wp--custom--sizing--narrow);
	margin-left: auto !important;
	margin-right: auto !important;
}

.wp-site-blocks,
.block-editor-block-list__layout.is-root-container,
.edit-post-visual-editor__post-title-wrapper,
.wp-block-group.alignfull,
.wp-block-group.has-background,
.wp-block-cover.alignfull,
.block-editor-block-list__layout.is-root-container .wp-block.alignfull > .wp-block-group,
.block-editor-block-list__layout.is-root-container .wp-block.alignfull > .wp-block-cover {
	padding-left: var(--wp--custom--spacing--outer);
	padding-right: var(--wp--custom--spacing--outer);
}

.wp-site-blocks .alignfull,
.wp-site-blocks > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-group.has-background,
.wp-site-blocks > .wp-block-template-part > .wp-block-cover,
.block-editor-block-list__layout.is-root-container > .wp-block-template-part > .wp-block-group.has-background,
.block-editor-block-list__layout.is-root-container > .wp-block-template-part > .wp-block-cover,
.block-editor-block-list__layout.is-root-container .wp-block.alignfull {
	margin-left: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	margin-right: calc(-1 * var(--wp--custom--spacing--outer)) !important;
	width: unset;
}

