h1,
h2 {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	&.wp-block-post-title {
		font-size: 1rem;
	}
}
h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h4 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}
h5 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1, h2, h3, h4, h5, h6 {
	&.is-hidden {
		opacity: 0;
	}
}

p {
	letter-spacing: 0;
	
	// margin-top: 1.4em;
	// margin-bottom: 1.4em;
	.has-large-font-size,
	&.has-large-font-size {
		line-height: 1.6em;
		// margin-top: 0.7em;
		// margin-bottom: 0.7em;
	}
	.has-extra-large-font-size,
	&.has-extra-large-font-size {
    // margin-top: 0.35em;
    // margin-bottom: 0.35em;
	}
}


* {
	&:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
		strong {
			font-family: var(--wp--preset--font-family--larsseit-bold);
			// @font-face with custom weights
			// font-family: var(--wp--preset--font-family--geometric-slab-bold);
			// font-weight: normal;
		}
	}
}

form {
	fieldset {
		border: 0 none;
		padding: 0;
		margin: 0;
	}	
	input {
		&:not([type="submit"]) {
			box-sizing: border-box;
			display: block;
			border: 0 none;
			border-bottom: 1px solid #fff;
			border-bottom: 1px solid #fff;
			background-color: transparent;
			width: 100%;
			font-size: var(--wp--preset--font-size--large);
			line-height: 4rem;
			font-family: var(--wp--preset--font-family--larsseit-light);
			padding-left: 0;
			padding-right: 0;
			&::placeholder {
				color: #fff;
			}
		}
	}
	textarea {
		display: block;
		border: 0 none;
		border-bottom: 1px solid #fff;
		color: #fff;
		background-color: transparent;
		resize: none;
		width: 100%;
		font-size: var(--wp--preset--font-size--large);
		font-family: var(--wp--preset--font-family--larsseit-light);
		&::placeholder {
			color: #fff;
		}
	}
	select {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	input[type="submit"],
	button {
		border: 0 none;
		color: #fff;
		background-color: transparent;
		border-radius: 0;
		font-family: var(--wp--preset--font-family--larsseit-light);
		font-size: var(--wp--preset--font-size--large);
		display: flex;
		column-gap: 50px;
		padding-left: 0;
		padding-right: 0;
		// &::after {
		// 	content: '->';
		// 	margin-left: 5px;
		// }
		&::after {
			content: '';
			width: 31px;
			height: 25px;
			background: url(./images/arrow.svg) 50% 50%/100% auto	no-repeat;
			display: block;
			transform: translate(-10px, 0);
			transition: all 0.3s cubic-bezier(0.5, 0, 0.25, 1);
		}
		&:hover {
			&::after {
				transform: translate(0, 0);
			}
		}
	}
}

.frm_forms.with_frm_style { // frm_style_formidable-style
	.frm_message {
		background-color: transparent;
		text-align: center;
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
		& > * {
			&:first-child {
				margin-top: 0;
			}
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	.frm_none_container {
		margin-bottom: 0;
	}
	.form-field {
		--text-color: #fff;
		input[type=text], 
		input[type=password], 
		input[type=email], 
		input[type=number], 
		input[type=url], 
		input[type=tel], 
		input[type=file], 
		select, 
		input[type=search] {
			box-sizing: border-box;
			display: block;
			border: 0 none;
			border-bottom: 1px solid #fff;
			border-radius: 0;
			background-color: transparent;
			width: 100%;
			font-size: var(--wp--preset--font-size--large);
			line-height: 4rem;
			font-family: var(--wp--preset--font-family--larsseit-light);
			padding: 0;
			height: 4rem;
			transition: border-color 0.3s;
			&::placeholder {
				color: #fff;
			}
			&:not([type=file]):focus {
				background-color: transparent;
				box-shadow: none;
				color: #fff;
				border-color: rgba(255, 255, 255, 0.6);
			}
			&:invalid {
				color: #B94A48;
			}
		}
		textarea {
			display: block;
			border: 0 none;
			border-bottom: 1px solid #fff;
			border-radius: 0;
			color: #fff;
			background-color: transparent;
			resize: none;
			width: 100%;
			padding: 16px 0;
			font-size: var(--wp--preset--font-size--large);
			font-family: var(--wp--preset--font-family--larsseit-light);
			transition: border-color 0.3s;
			&::placeholder {
				color: #fff;
			}
			&:focus {
				background-color: transparent;
				box-shadow: none;
				color: #fff;
				border-color: rgba(255, 255, 255, 0.6);
			}
		}
	}
	.frm_loading_form {
		.frm_button_submit {
			color: #fff !important;
			background-color: transparent !important;
			&::before {
				position: absolute;
				left: -25px;
			}
		}
	}
	.frm_submit {
		@media (min-width: 600px) {
			margin-left: 51%;
		}
		input[type="submit"],
		button {
			margin: 0;
			border: 0 none;
			color: #fff;
			border: 0 none;
			background-color: transparent;
			border-radius: 0;
			font-family: var(--wp--preset--font-family--larsseit-light);
			font-size: var(--wp--preset--font-size--large);
			display: flex;
			column-gap: 50px;
			padding-left: 0;
			padding-right: 0;
			box-shadow: none;
			align-items: center;
			// &::after {
			// 	content: '->';
			// 	margin-left: 5px;
			// }
			&::after {
				content: '';
				width: 31px;
				height: 25px;
				background: url(./images/arrow.svg) 50% 50%/100% auto	no-repeat;
				display: block;
				transform: translate(-10px, -2px);
				transition: all 0.3s cubic-bezier(0.5, 0, 0.25, 1);
			}
			&:hover {
				background-color: transparent;
				color: #fff;
				&::after {
					transform: translate(0, -2px);
				}
			}
		}
	}

	.frm_blank_field {
		input[type=text],
		input[type=password],
		input[type=url],
		input[type=tel],
		input[type=number],
		input[type=email],
		textarea,
		.mce-edit-area iframe,
		select:not(.ui-datepicker-month):not(.ui-datepicker-year),
		.frm-g-recaptcha iframe,
		.g-recaptcha iframe,
		.frm-card-element.StripeElement,
		.chosen-container-multi .chosen-choices,
		.chosen-container-single .chosen-single,
		:invalid {
			background: transparent;
			border-color: #fff;
			border-width: 0 0 1px 0;
			color: #fff
		}
	}
	.frm_error {
		padding-top: 0.5em;
	}
}


// #contact-us-form {
// 	.frm_form_fields .frm_fields_container {
// 		// display: grid;
// 		// // grid-template-columns: 1fr 1fr;
// 		// gap: 0 50px;
// 		// .frm_form_field, .frm_fields_container > * {
// 		// 	grid-column: span 6 / span 6;
// 		// 	width: min(0, 1fr);
// 		// }
// 	}
// }



// 
// .with_frm_style .frm-card-element.StripeElement

.post-password-form {
	margin-top: 150px !important;
	label {
		display: inline-block;
	}
	input[type="password"] {
		border: 1px solid;
		color: #fff;
		width: auto;
		padding-left: 10px;
		&::placeholder {
			color: #b4b4b4;
		}
	}
	input[type="submit"] {
		border: 0 none;
		padding: 10px 20px;
		background: #fff;
		color: #000;
		display: inline-block;
		height: 68px;
	}
}