@use "wp-block-cover";
@use "wp-block-group";
@use "wp-block-media-text";
@use "wp-block-query";
@use "wp-block-image";
@use "wp-block-quote";
@use "wp-block-code";
@use "wp-block-preformatted";
@use "wp-block-pullquote";
@use "wp-block-table";
@use "wp-block-verse";
@use "wp-block-gallery";
@use "wp-block-getwid-content-slider";
@use "wp-block-audio";
@use "wp-block-file";
@use "wp-block-video";
@use "wp-block-buttons";
@use "wp-block-post-content";
@use "wp-block-template-part";