.wp-block-image {
	&.aligncenter {
		margin-left: auto;
		margin-right: auto;
	}
	&.is-style-logo {
		max-width: 47%;
	}
}

#baguetteBox-overlay {
	#close-button.baguetteBox-button {
		background-color: transparent;
		border-radius: 0;
		// width: 30px;
		// height: 30px;

		svg {
			g {
				stroke-width: 2px;
				stroke: #fff;
			}
		// 	display: none;
		}
	}
	.full-image {
		padding: 20px;
    box-sizing: border-box;
	}
}

img {
	transition: opacity 0.2s;
	&.lazy:not(.loaded) {
		opacity: 0;
	}
}