.wp-site-blocks > .wp-block-post-content > *:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide):not(:first-child)) {
	&.wp-block-getwid-images-slider,
	&.wp-block-getwid-content-slider {
		margin-top: min(4.270833vw, 82px) !important;
	}	
}
.wp-site-blocks > .wp-block-post-content > *:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
	&.wp-block-getwid-images-slider,
	&.wp-block-getwid-content-slider {
		margin-left: 0 !important;
		margin-right: auto !important;
	}	
}
.scroll-down {
	& + * {
		margin-top: min(4.270833vw, 82px) !important;
	}
}

.wp-block-getwid-images-slider,
.wp-block-getwid-content-slider {
	width: 100%;
	max-width: 915px !important; // 80vw !important;
	@media (min-width: 1440px) { 
		max-width: min( 65.5729166vw, 1259px ) !important; 
	}
	--twin-slider-max-width: calc( ( 100vw - ( 2 * var(--wp--custom--spacing--outer) ) ) * 0.8 );
	.page-template-short-sliders & {
		max-width: var(--twin-slider-max-width) !important;
	}
	.wp-block-getwid-images-slider__wrapper,
	.wp-block-getwid-content-slider__wrapper {
		.slick-list {
			overflow: visible !important;
		}
	}
	.wp-block-getwid-images-slider__item {
		& > * {
			border-right: 40px solid #000;
			img {
				max-width: 100%;
				width: 100%; // calc(100% - 40px);
				aspect-ratio: 1.666; // 0.59215017;
				min-height: 0;
				// @supports not ( aspect-ratio: 1.666 ) {
				// 	height: 0;
				// 	padding-top: 0;
				// 	padding-bottom: 57.142857%;
				// }
			}
		}
	}
	// min(4.270833vw, 82px)
	// --app--header--height
	// 256
	.wp-block-getwid-content-slider-slide {
		--twin-slider-height: calc( ( 100vh - ( 240px + var( --app--header--height ) + min(4.270833vw, 82px) ) ) / 2 );
		.wp-block-getwid-content-slider-slide__wrapper,
		.wp-block-getwid-content-slider-slide__wrapper {
			& > .wp-block-cover {
				max-width: 100%;
				width: 100%; // calc(100% - 40px);
				border-right: 40px solid #000;
				aspect-ratio: 1.75; // 0.59215017;
				margin-bottom: 2rem;
				min-height: 0;
				@media (min-width: 1440px) {
					margin-bottom: max(2.291666vw, 44px);
				}
				@supports not ( aspect-ratio: 1.75 ) {
					height: 0;
					padding-top: 0;
					padding-bottom: 57.142857%;
				}
			}
			& > .wp-block-getwid-video-popup,
			& > .wp-block-image {
				max-width: 100%; // calc(100% + 40px);
				width: 100%; // calc(100% + 40px);
				// display: flex;
				min-height: 0;
				box-sizing: border-box;
				border-right: 40px solid #000;
				height: 0;
				padding-bottom: calc( 100% * ( 1 / 1.75 ) );
				overflow: hidden;
				position: relative;
				@media (min-width: 1440px) {
					margin-bottom: max(2.291666vw, 44px);
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					// aspect-ratio: 1.75; // 1.666; // 0.59215017;
					object-fit: cover;
				}
				// &::after {
				// 	width: 40px;
				// 	height: 100%;
				// 	display: block;
				// 	content: '';
				// }
			}
			& > .wp-block-getwid-video-popup {
				.wp-block-getwid-video-popup__wrapper,
				& > a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					min-width: 0;
					min-height: 0;
					box-sizing: border-box;
				}
				.wp-block-getwid-video-popup__icon {
					width: min(15vw, 90px);
					height: min(15vw, 90px);
					line-height: 1em;
					i {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						margin-left: 4%;

					}
				}
			}
			.page-template-short-sliders & {
				& > .wp-block-cover {
					@media (min-width: 992px) {
						max-height: var(--twin-slider-height, );
					}
				}
				& > .wp-block-getwid-video-popup,
				& > .wp-block-image {
					@media (min-width: 992px) {
						padding-bottom: min(57.1428571429%, var(--twin-slider-height));
					}
				}
				// & > .wp-block-getwid-video-popup {
				// }
			}
			p {
				margin: 0.75em 0;
				line-height: 1em;
			}
		}
	}
	button.slick-arrow {
		--slick-button-sizing: 8px;
		background: url(./images/chevron-right.svg) 50% 50%/100% auto no-repeat;
		width: var(--slick-button-sizing);
		height: 35px;
		transition: opacity 1s;
		opacity: 0;
		transition: opacity 0.3s;
		&.is-visible {
			opacity: 1;
		}
		@media (min-width: 1024px) {
			--slick-button-sizing: min(0.78125vw, 15px);
			// width: min(0.78125vw, 15px);
		}
		
		&::before {
			display: none;
		}
		&.slick-next {
			// right: 10px;
			right: calc( 20px - (0.5 * var(--slick-button-sizing)) );
		}
		&.slick-prev {
			left: calc( -20px - (0.5 * var(--slick-button-sizing)) ); 
			transform: translate(0,-50%) rotate(180deg);
			&[aria-disabled="true"] {
				opacity: 0;
			}
		}
	}
}

