.wp-site-blocks > .wp-block-post-content > *:where(:not(.alignleft):not(.alignright):not(.alignfull):not(.alignwide)) {
	&.wp-block-getwid-images-slider,
	&.wp-block-getwid-content-slider {
		margin-top: min(4.270833vw, 82px) !important;
		margin-left: 0 !important;
		margin-right: auto !important;
	}	
}
.scroll-down {
	& + * {
		margin-top: min(4.270833vw, 82px) !important;
	}
}

.wp-block-getwid-images-slider,
.wp-block-getwid-content-slider {
	
	width: 100%;
	max-width: 915px !important; // 80vw !important;
	@media (min-width: 1440px) { 
		
		max-width: min( 65.5729166vw, 1259px ) !important; 
	}
	.wp-block-getwid-images-slider__wrapper,
	.wp-block-getwid-content-slider__wrapper {
		.slick-list {
			overflow: visible !important;
		}
	}
	.wp-block-getwid-images-slider__item {
		& > * {
			border-right: 40px solid #000;
			img {
				max-width: 100%;
				width: 100%; // calc(100% - 40px);
				aspect-ratio: 1.666; // 0.59215017;
				min-height: 0;
			}
		}
	}
	.wp-block-getwid-content-slider-slide {
		.wp-block-getwid-content-slider-slide__wrapper {
			& > .wp-block-cover {
				max-width: 100%;
				width: 100%; // calc(100% - 40px);
				border-right: 40px solid #000;
				aspect-ratio: 1.75; // 0.59215017;
				margin-bottom: 2rem;
				min-height: 0;
				@media (min-width: 1440px) {
					margin-bottom: max(2.291666vw, 44px);
				}
			}
			& > .wp-block-image {
				max-width: 100%;
				width: 100%; // calc(100% - 40px);
				border-right: 40px solid #000;
				min-height: 0;
				box-sizing: border-box;
				@media (min-width: 1440px) {
					margin-bottom: max(2.291666vw, 44px);
				}
				img {
					aspect-ratio: 1.666; // 0.59215017;
					object-fit: cover;
				}
			}
			p {
				margin: 0.75em 0;
				line-height: 1em;
			}
		}
	}
	button.slick-arrow {
		--slick-button-sizing: 8px;
		background: url(./images/chevron-right.svg) 50% 50%/100% auto no-repeat;
		width: var(--slick-button-sizing);
		height: 35px;
		transition: opacity 1s;
		opacity: 0;
		transition: opacity 0.3s;
		&.is-visible {
			opacity: 1;
		}
		@media (min-width: 1024px) {
			--slick-button-sizing: min(0.78125vw, 15px);
			// width: min(0.78125vw, 15px);
		}
		&[aria-disabled="true"] {
			opacity: 0;
		}
		&::before {
			display: none;
		}
		&.slick-next {
			// right: 10px;
			right: calc( 20px - (0.5 * var(--slick-button-sizing)) );
		}
		&.slick-prev {
			left: calc( -20px - (0.5 * var(--slick-button-sizing)) ); 
			transform: translate(0,-50%) rotate(180deg);
		}
	}
}