@use "../core/mixins";

.wp-block-cover {
	padding: 1.25em var(--wp--custom--padding--horizontal);	
	&.alignfull {
		height: 50.855vw;
		max-height: calc(90vh - var(--app--header--height, 160px));
		min-height: 0;
		.page-template-overlay-header & {
			max-height: 90vh;
			height: 100vh;
		}
		& + .wp-block-group.alignfull {
			margin-top: 0;
		}
	}
	&.is-position-top-right,
	&.is-position-top-left,
	&.is-position-bottom-right,
	&.is-position-bottom-left {
		.wp-block-cover__inner-container {
			max-width: max(66%, 500px);
		}
	}
	&.is-style-show-over-on-hover {
		.wp-block-cover__background, 
		.wp-block-cover__inner-container {
			transition: opacity 0.3s;
			figure {
				& > a {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					display: flex;
					align-items: center;
					justify-content: center;
					img {
						max-width: 40vw;
					}
				}
			}
		}
		.wp-block-cover__inner-container {
			.wp-block-image {
				max-width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
		}
		@media (hover: hover) {
			&:not(:hover) {
				.wp-block-cover__background:not(.block-editor-block-list__layout), 
				.wp-block-cover__inner-container:not(.block-editor-block-list__layout) {
					opacity: 0;
				}	
			}
		}
	}
	.wp-block-cover__inner-container {
		@include mixins.trim;
		max-width: var(--wp--custom--sizing--narrow);
		margin-left: auto;
		margin-right: auto;
		.wp-block-columns {
			.wp-block-column {
				@include mixins.trim;
			}
		}
	}
}