.wp-block-site-logo {
	svg {
		width: 100px;
		transform: translate(-20px, 0) scale(1);
		transition: all var(--app--header--animation--time);
		@media (min-width: 600px) {
			// width: min(11.979166666666668vw, 230px);
			// transform: translate(20%, 0) scale(1);
			width: 120px; 
			transform: translate(calc(min(13.5rem, 11.25vw) - var(--wp--custom--spacing--outer) - 36px));
		}
		#living-with {
			transition: opacity var(--app--header--animation--time);
			opacity: 0;
		}
	}
	.page-template-overlay-header:not(.nav-is-fixed) & {
		svg {
			transform: translate(30%, 70%) scale(1.6); // translate(-30%, 0) 
			#living-with {
				opacity: 1;
			}
		}
	}
}